h1 {
    color: gold;
    font-family: Helvetica;
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 3000;
    text-decoration: underline;
}


p{
    color: yellow;
    font-style: bold;
    font-size: larger;
}

a {
    color: gold;
    font-family: Helvetica;
    font-size: large;
    font-style: oblique;
    text-transform: uppercase;
    font-weight: 3000;
}

body {
     background-color: #4B3621;      
}

img {
    border: 5px ridge gold;
    border-radius: 15px;
}